.paragraph {
  font-size: 50px;
  max-width: 1200px;
  padding: 40px;

  display: flex;
  flex-wrap: wrap;
  line-height: 1;
}

.paragraph .word {
  margin-right: 12px;
  margin-top: 12px;
  position: relative;
}

.paragraph .word .shadow {
  position: absolute;
  opacity: 0.1;
}
